:root {
	--primary: #2772e5;
	--primary-light: #e9f0fb;
	--error: #e43d40;
	--success: #27ae60;
	--navbar-height: 56px;
}
body {
	background: var(--primary-light);
	min-height: 100vh;
}
a {
	color: var(--primary);
	text-decoration: none;
}
